.hero {
	padding-bottom: 74px;
	background-color: $colorBlue;
	position: relative;
}

.hero::after {
	content: '';
	background-image: url('../img/hero/hero-star.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;

	@media screen and (max-width: 1440px) {
		height: 68%;
	}
	@media screen and (max-width: 1340px) {
		height: 66%;
	}
	@media screen and (max-width: 1230px) {
		height: 62%;
	}

	@media screen and (max-width: 1030px) {
		height: 58%;
	}

	@media screen and (max-width: 1000px) {
		height: 64%;
	}
}

.hero__inner {
	position: relative;
	padding-top: 90px;
	z-index: 100;

	@media screen and (max-width: 1000px) {
		padding-top: 30px;
	}
}

.hero__top {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}

	&-logo {
		width: 350px;
		height: 350px;

		@media screen and (max-width: 1440px) {
			width: 285px;
			height: 285px;
		}
		@media screen and (max-width: 1230px) {
			width: 240px;
			height: 240px;
		}
		@media screen and (max-width: 1080px) {
			width: 210px;
			height: 210px;
		}
	}

	&-title {
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 0 28px;
		margin-top: -60px;

		@media screen and (max-width: 1230px) {
			margin-top: -20px;
		}

		@media screen and (max-width: 1000px) {
			margin-top: 30px;
		}
	}

	&-title span:first-child {
		// font-size: 62px;
		font-size: clamp(1.125rem, 0.4096rem + 3.5772vw, 3.875rem);
		text-transform: uppercase;
		line-height: 1.2;

		@media screen and (max-width: $breakpoint768) {
			font-size: clamp(1.375rem, 0.7246rem + 3.252vw, 3.875rem);
		}

		@media screen and (max-width: $breakpoint375) {
			font-size: clamp(2rem, 1.5122rem + 2.439vw, 3.875rem);
			margin-bottom: 6px;
		}
	}

	&-title span:last-child {
		// font-size: 86px;
		font-size: clamp(1rem, -0.1382rem + 5.6911vw, 5.375rem);
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: 1px;

		@media screen and (max-width: $breakpoint768) {
			font-size: clamp(1.5rem, 0.4919rem + 5.0407vw, 5.375rem);
		}

		@media screen and (max-width: $breakpoint375) {
			line-height: 1.2;
			font-size: clamp(3.375rem, 2.8872rem + 2.439vw, 5.25rem);
		}
	}
}

.hero__content-img {
	position: relative;
	width: 100%;
	height: 600px;

	@media screen and (max-width: 1440px) {
		height: 500px;
	}

	@media screen and (max-width: 1340px) {
		height: 420px;
	}

	@media screen and (max-width: 1170px) {
		height: 350px;
	}
}

.hero__content-img1 {
	position: absolute;
	top: -72px;
	left: 545px;
	aspect-ratio: 900 / 538;

	@media screen and (max-width: 1510px) {
		max-width: 800px;
		left: 515px;
	}

	@media screen and (max-width: 1440px) {
		max-width: 700px;
		left: 500px;
		top: -42px;
	}

	@media screen and (max-width: 1340px) {
		max-width: 600px;
		left: 440px;
		top: -42px;
	}

	@media screen and (max-width: 1170px) {
		max-width: 500px;
		left: 400px;
		top: -22px;
	}

	@media screen and (max-width: 1050px) {
		left: 340px;
	}

	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.hero__content-img2 {
	position: absolute;
	display: block;
	top: 100px;
	left: 0;
	aspect-ratio: 775 / 420;

	@media screen and (max-width: 1510px) {
		max-width: 675px;
		left: 40px;
	}

	@media screen and (max-width: 1440px) {
		max-width: 575px;
		left: 80px;
	}

	@media screen and (max-width: 1340px) {
		max-width: 475px;
		left: 100px;
	}

	@media screen and (max-width: 1170px) {
		max-width: 375px;
		left: 130px;
	}

	@media screen and (max-width: 1050px) {
		left: 64px;
	}

	@media screen and (max-width: 1000px) {
		max-width: 500px;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (max-width: 600px) {
		max-width: 300px;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (max-width: 375px) {
		max-width: 288px;
		left: 50%;
		top: 20px;
		transform: translateX(-50%);
	}
}

.hero__content-wrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 100px;

	@media screen and (max-width: 1150px) {
		gap: 0;
	}
	@media screen and (max-width: 1000px) {
		flex-direction: column;
		text-align: center;
	}
}

.hero__content-title {
	// font-size: 52px;
	font-size: clamp(1rem, 0.4146rem + 2.9268vw, 3.25rem);
	margin-bottom: 20px;
	letter-spacing: 4px;
}

.hero__content-description {
	// font-size: 34px;
	font-size: clamp(1rem, 0.7073rem + 1.4634vw, 2.125rem);
	margin-bottom: 10px;
	letter-spacing: 5px;
	height: 130px;
	width: 100%;
	max-width: 550px;

	@media screen and (max-width: 1000px) {
		line-height: 1.5;
	}
}

.hero__content-subtitle {
	// font-size: 20px;
	font-size: clamp(1rem, 0.935rem + 0.3252vw, 1.25rem);
}

.hero__content-char {
	display: flex;
	align-items: center;
	gap: 30px;

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
}

.hero__content-subtitle {
	// font-size: 36px;
	font-size: clamp(1rem, 0.6748rem + 1.626vw, 2.25rem);
	letter-spacing: 4px;
	margin-top: 20px;
}

@media screen and (max-width: 1150px) {
	.hero__content-icon {
		width: 90px;
		height: 90px;
	}
}
